{% extends 'blog.html' %}

{% block title %}Django instance diff, now MORE BETTER!{% endblock title %}
{% block published %}<time datetime="2011-5-20">May 20, 2011</time>{% endblock %}
{% block content %}
<article>
<section class="md" >
This will let you diff an object and its current state as saved in the
database. Or specify another arbitrary instance from a compleatly different
model to compare it to. Updated from my [last
post](/blog/django-changed-instance-diff.html)

After great feedback from Norm, I present a much more robust version.


    #!/usr/bin/env python

    class Missing:
        pass


    def diff(instance1, instance2=None, missing_field=None):
        '''
        Compares two instances and returns a dictionary of
        the different fields and a tuple of the corrisponding values.

        If a instance2 is not provided, the first instance is compared
        against the current values in the database.

        Set "missing_field" to differentiate between a field that doesn't
        exist and a field that contains a None.
        '''
        if not instance2:
            if not instance1.pk:
                return {}  # nothing to compare, dur.
            instance2 = instance1.__class__._default_manager.filter(pk=instance1.pk).get()
        d = {}
        for field in set(instance1._meta.fields + instance2._meta.fields):
            if field.__class__.__name__ not in ['OneToOneField', 'AutoField', 'RelatedField']:
                try:
                    value1 = getattr(instance1, field.name, missing_field)
                except Exception as e:
                    value1 = e
                try:
                    value2 = getattr(instance2, field.name, missing_field)
                except Exception as e:
                    value2 = e
                if value1 != value2:
                    # do they break in the same way?
                    if isinstance(value1, Exception) and isinstance(value2, Exception):
                        if type(value1) != type(value2):
                            # different type of exceptions
                            d[field.name] = (value1, value2)
                    else:
                        # actually different values
                        d[field.name] = (value1, value2)

        return d

UnitTests forthcoming...

Note: This WILL hit the database every single time if no second instance is supplied. Depending on
your logic, you may want to query a fresh copy from the database and keep
comparing to that.


</section>
</article>
{% endblock %}
