{% extends 'blog.html'%}
{% load markuptags %}


{% block title %}
Python Sandbox with PyPy Part 2
{% endblock title %}

{% block published %}
<time datetime="2011-05-06" pubdate="pubdate">May 6, 2011</time>
{% endblock %}

{% block content %}
{% markdown %}
[Last post](/blog/python-sandbox-with-pypy.html)
was setting up and translating Pypy to make a sandboxed python prompt
that had it's own virtual /tmp and no system calls.

Now we'll take it a step farther and wrap it in normal python and run untrusted
python within the sandbox programmatically.

A lot of this code is based on [this guy&#8217;s post](http://www.stephendiehl.com/?p=295).

    #! /usr/bin/env python

    # From http://readevalprint.github.com/blog/python-sandbox-with-pypy-part2.html

    import sys, shutil, os, tempfile
    from cStringIO import StringIO

    TIMEOUT = 5

    # I made a ramdisk because it's all temporary and faster then accessing the harddrive itself
    # $ sudo mount -t tmpfs -o size=16M tmpfs /tmp/ramdisk/
    # $ mkdir /tmp/ramdisk/virtualtmp
    tempfile.tempdir = '/tmp/ramdisk/virtualtmp/'

    # or use this, lame.
    # tempfile.tempdir = '/tmp/'


    # This is the symlinked dir if you're following the post
    # http://readevalprint.github.com/blog/python-sandbox-with-pypy.html
    SANDBOX_BIN = '/opt/pypy-sandbox/pypy/translator/goal/pypy-c'

    sys.path += [ '/opt/pypy-sandbox']

    # import pypy now that it's added to the path
    from pypy.translator.sandbox import pypy_interact

    def exec_sandbox(code):
        try:
            tmpdir = tempfile.mkdtemp()
            tmpscript = open(os.path.join(tmpdir, "script.py"),'w') # script.py is the name of the code passed in
            tmpscript.write(code)
            tmpscript.close()
            sandproc = pypy_interact.PyPySandboxedProc(
                SANDBOX_BIN,
                #['-c', code] # un comment this and comment the next line if you want to run code directly
                ['/tmp/script.py','--timeout',str(TIMEOUT),],
               tmpdir # this is dir we jsut made that will become /tmp in the sandbox
            )
            try:
                code_output = StringIO()
                code_log = StringIO()
                sandproc.interact(stdout=code_output, stderr=code_log)
                return code_output.getvalue(), code_log.getvalue()
            except Exception, e:
                sandproc.kill()
            finally:
                sandproc.kill()

            shutil.rmtree(tmpdir)
        except Exception, e:
            pass
        return 'Error, could not evaluate', e

    code = '''
    print 'Hi there!'

    1/0 # watch for the line number!

    # Next, try to list the system files and write to one.
    '''
    out, err = exec_sandbox(code)
    print '=' *10
    print 'OUTPUT\n%s' % out
    print '=' *10
    print 'ERRORS\n%s' % err

The output would look like this:

    ==========
    OUTPUT
    Hi there!

    ==========
    ERRORS
    Traceback (most recent call last):
      File "app_main.py", line 53, in run_toplevel
      File "/tmp/script.py", line 4, in <module>
        1/0 # watch for the line number!
    ZeroDivisionError: integer division by zero
    [Subprocess exit code: 1]


{% endmarkdown %}
{% endblock content %}

