{% extends 'blog.html' %}
{% load markuptags %}

{% block title %}About BrowserId{% endblock title %}
{% block published %}<time datetime="2011-5-19">May 19, 2011</time>{% endblock %}
{% block content %}
Hi


    {% markdown %}
    A First Level Header
    ====================
    {% endmarkdown %}

    {% textile %}
    The EPA(Environmental Protection Agency) is measuring GHG(greenhouse gas) emissions.
    {% endtextile %}

    {% restructuredtext %}
    1) An enumerated list item

    2) Second item

       a) Sub item

             i) Sub-sub item

             3) Third item
    {% endrestructuredtext %}


{% endblock %}
