{% extends 'blog.html' %}

{% load markuptags %}

{% block title %}
  Adventures with PICAXE and MDFLY MP3 Player Module RS232
{% endblock title %}

{% block published %}
  <time datetime="2012-08-23">Thur, Aug 23 2012</time>
{% endblock %}

{% block content %}
  {% markdown %}
  <span class="span3">![Me soldering the PICAXE dev board](/static/img/soldering-picaxe.jpg)</span>
  <span class="span3">![SD Card MP3 Player Module RS232-TTL](/static/img/RS232.jpg)</span>
  <br style="clear:both;">

I found that the [MDFLY RS232 MP3 module](http://www.mdfly.com/index.php?main_page=product_info&cPath=9_53&products_id=284) need about 6v and the [PICAXE](picaxe.com) needs less than 5.5v.
This lead to a bit of head scratching and hurruffing until I got the great idea
to use a 4 AA pack and solder an extra lead to the 3rd battery for the PICAXE for
3x1.5v = 4.5v and share the common ground wiht the mp3 module for the TTL communication.

Note that the songs are played based on their order in the FAT pointers, sooo
after much head banging it turns out that the order they are loaded on the SD card
and any other hidden files will affect the playback order. [more info..](http://www.picaxeforum.co.uk/archive/index.php/t-16353.html)

tl;dr download [fatsort (*nix)](http://fatsort.sourceforge.net/) or [drivesort (windows)](http://www.anerty.net/software/file/DriveSort.php)
and remove all hidden files before runing it.

I wish I had read this before. But now you can :)


Simplified code to play the only song 1:
<code class="no-highlight">
  <pre>
symbol PLAY_BTN = C.1

main:
  touch PLAY_BTN, b1
  if b1 > 128 then
    goto play
  endif
  goto main

play:
  serout C.2, T4800, ($01)
  goto release

; wait untill released before accepting anymore commands
release:
  touch PLAY_BTN, b4
  if b4 > 128 then
    goto release
  else
    goto main
  endif
  </pre>
</code>

  <br style="clear:both;">
  {% endmarkdown %}
{% endblock %}
