{% extends "base.html" %}
{% load markuptags %}

{% block content %}
{% markdown %}
3 Reasons Weebly should hire me
===============================

1) You need someone who gets it done.
-------------
* Seriously.
* If I commit to something I will get it done or have a darn good reason why not.
* I won't bullcrap you with, "It's really hard" or "I've never done that before".
* For things I don't know, I learn. For things that I know, I learn more.
* Think of me as the full stack programmer personification of Zombo.com

For reasons 2 and 3 see reason 1.

{% endmarkdown %}
{% endblock content %}

