{% extends "base.html" %}
{% load markuptags %}

{% block content %}
  {% markdown %}
  ### Open source projects

  * [mail-pipe](https://github.com/readevalprint/mailpipe-project): Python mailserver with a REST API to create and manage email and and received emails. Built with Django and Lamson runs on ports 80 and 25. [![Build Status](https://travis-ci.org/readevalprint/mailpipe-project.png?branch=master)](https://travis-ci.org/readevalprint/mailpipe-project)

  * [cartridge-stripe](https://github.com/readevalprint/cartridge-stripe/): Stripe integration with Cartridge.
  * [mini-django](/mini-django/): Single file django project for instant gratification.
  * [django-statomatic](/django-statomatic/): static site generator
  * [django-markup-tags](/django-markup-tags/): Markdown, Textile, and ReSt template tags (not filters)

### Posts

  {% for post in blog_posts|dictsort:"published" reversed %}
  * {{post.published|date:"M d, Y"}} [{{post.title|default:"[no title]"}}]({{post.url}}) {% endfor %}
  {% endmarkdown %}
{% endblock content %}

