{% extends "base.html" %}
{% load markuptags %}

{% block content %}
{% markdown %}
### Projects

* [cartridge-stripe](https://github.com/readevalprint/cartridge-stripe/): Stripe integration with Cartridge.
* [mini-django](/mini-django/): Single file django project for instant gratification.
* [django-statomatic](/django-statomatic/): static site generator
* [django-markup-tags](/django-markup-tags/): Markdown, Textile, and ReSt template tags (not filters)

### Posts

{% for post in blog_posts|dictsort:"published" reversed %}
* {{post.published|date:"M d, Y"}} [{{post.title|default:"[no title]"}}]({{post.url}}) {% endfor %}
{% endmarkdown %}
{% endblock content %}

