{% extends 'base.html'%}
{% load ssi from future %}
{% load markuptags %}

{% block content %}

  <a href="http://github.com/readevalprint/mini-django"><img style="position:
      absolute; top: 0; right: 0; border: 0;"
      src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
      alt="Fork me on GitHub" /></a>

{% markdown %}
  An entire django app in a single file. Updated from [here](http://olifante.blogs.com/covil/2010/04/minimal-django.html) to use Django trunk.

  {% ssi '/home/tim/mini-django/README.md' %}
{% endmarkdown %}

{% endblock content %}
