{% extends 'blog.html' %}
{% load markuptags %}

{% block head %}
  <script src="{{ STATIC_URL }}/js/caat.js"></script>
  <script src="{{ STATIC_URL }}/js/jquery-1.7.1.min.js"></script>
{% endblock head %}

{% block title %}Intro to caat.js{% endblock title %}

{% block published %}<time datetime="2011-11-25">Nov 25, 2011</time>{% endblock %}

{% block content %}
  <script>
    $(function(){
      // We are not pointing any canvas in the director creation statement,
      // so the director will create a Canvas for us.
      var director2 = new CAAT.Director().initialize(100,100);

      // add the canvas to the document:
      document.getElementById('canvas').appendChild( director2.canvas );

      var scene2=     director2.createScene();
      var circle2=    new CAAT.ShapeActor().
              setLocation(20,20).
              setSize(60,60).
              setFillStyle('#ff00ff').
              setStrokeStyle('#00ff00');

      scene2.addChild(circle2);

      director2.loop(1);
    });

  </script>
<div id="canvas"></div>
{% endblock %}

